*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background-image: url("todoGelistirilmis/todo.png");
    background-size: 100px;
} */
/*

h4{
    color: ;
} */
a{
    text-decoration: none;
    color: white;
}
#fato{
    
    /* color: #487683 */
    color: #1F3250;
}
span{
    /* color: #B7C29F; */
    color: #D2624C;
}

#navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 100px;
    
    
}

#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li{
    border-radius: 4px;
    background-color:rgb(227, 231, 124); 
    padding: 0.75rem;
    
}
#navbar ul li a{
    padding: 0.75rem;
    color:  #336ea2;
}
#navbar ul li a:hover{
    background-color: #336ea2;
    border-radius: 4px;
    color:rgb(227, 231, 124); 
}


#home {
    display: flex;
    justify-content: space-between; 
    align-items: center;    
    flex-direction: column;
    width: 100%;
    height: 100vh; 
    position: relative; 
    overflow: hidden; 
}

#home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Resmin kesilmesini engelleyerek sayfayı kaplaması */
    z-index: -1; /* Resmin arka planda kalması */
}

#home .name, #home a {
    position: relative; 
    z-index: 1;
}

.name{
    height: 50%;
    width: 50%;
    /* background: rgba(241, 243, 181, 0.812); */
    opacity: 0.9; 
}
  

html{
    font-family: "Open Sans","sans-serif";
}
/*!! cutsom buttonlar bootstrap butonlarını düzenlemek için yazıldı */
.custom-button1 {
    width: 100px;  
    height: 40px;  
    font-size: 16px;  
    padding: 10px 20px;  
    color: #D2624C;
    background-color: #1F3250;
  }
.custom-button1:hover{
    background-color: #D2624C;
    color: #1F3250;
}
.custom-button2 {
    width: 120px;  
    height: 40px;  
    font-size: 16px;  
    font-weight: bold;
    padding: 10px 20px;  
    background-color: #D2624C;
    color: #1F3250;
  }
.custom-button2:hover{
    color: #D2624C;
    background-color: #1F3250;
}
.custom-button3{
    width: 200px;  
    height: 40px; 
    font-size: 16px;  
    padding: 10px 20px; 
    background-color: #D2624C;
    color: #1F3250;
    font-weight: bold;

}
.custom-button3:hover{
    color: #D2624C;
    background-color: #1F3250;
}
.custom-button{
    width: 50px; 
    height: 40px;
    color: #D2624C;
    background-color: #1D3051;
}
.custom-button:hover{
    background-color: #D2624C;
    color: #1F2F48;
}


#ul1 li{
    list-style: none;
    font-size: 17px;
    padding: 12px 18px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    text-decoration: none;

}

#ul1 li.checked{
    text-decoration: line-through;
}